* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #0F172A;
}

header {
    color: #F1F5F9;
    font-family: archivo, sans-serif;
    font-size: 16px;
}

#header-P {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#header-P>div {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#header-S {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-S>nav {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 190px;
}

#header-S>nav>a {
    color: white;
    text-decoration: none;
}

hr {
    border: none;
    border-top: 2px solid rgba(97, 87, 87, 0.2);
    margin: 0;

}

#section-P {
    display: flex;
    padding: 30px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#img-maior>img {
    height: auto;
    width: 900px;
}

#imgs-direita {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

}

.p {
    display: flex;
    gap: 15px;
}

.p>img {
    height: auto;
    width: 420px;
}

#card-meio {
    display: flex;
    padding-top: 70px;
    padding-left: 13px;
    padding-right: 13px;
    flex-direction: column;
    font-family: archivo, sans-serif;
    color: #CBD5E1;
    font-size: 14px;
    gap: 20px;
}

#card-meio-encima {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#card-meio-encima>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#card-meio-baixo {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

#card-meio-baixo>img {
    height: auto;
    width: 455px;
}

#section-F {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 50px;
    gap: 30px;
}

#section-F-E {
    display: flex;
    flex-direction: column;
    width: 70vw;

}

#heading-E {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: archivo, sans-serif;
    color: #CBD5E1;
    font-size: 14px;
}

#heading-E div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#Cards {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
}

.Card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.Card-E {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.Card-Azul {
    background-color: #1D4ED8;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 13px;
    padding-right: 13px;
    border: 2px solid transparent;
    border-radius: 8px;
}

.Card-Azul h1 {
    font-family: archivo, sans-serif;
    font-size: 14px;
    color: #F1F5F9;
}

.Card-Texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Card-Texts h1 {
    font-family: archivo, sans-serif;
    font-size: 16px;
    color: #F1F5F9;
}

.Card-Texts p {
    font-family: archivo, sans-serif;
    font-size: 14px;
    color: #CBD5E1;
}

.Card-D img {
    height: auto;
    width: 200px;
}

#section-F-D {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-F-D > img {
    height: auto;
    width: 800px;
}

#heading-E {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 20px;
}

#heading-E div {
    display: flex;
    justify-content: space-between;
}

#heading-E div>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#Cards-D {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
}

#Cards-D img{
    height: auto;
    width: 120px;
}

.Card-Texts-D {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.Card-Texts-D>div>h1{
    font-family: archivo, sans-serif;
    font-size: 14px;
    color: #F1F5F9;
}

.Card-Texts-D span{
    font-family: archivo, sans-serif;
    font-size: 14px;
    color: #F1F5F9;
}

